<div layout:decorate="~{layouts/default}" layout:fragment="content">
    <p>Howdy! My name is Aaron Gotreaux. I am a software engineer based in Texas. The bulk of my experience is within the e-clinical, financial and insurance sectors as a full stack Java developer.</p>
    <p>I enjoy wrestling with legacy systems, tinkering with unfamiliar stacks and writing clean solutions to puzzles.</p>
    <p>Please don't hesitate to contact me if you'd like to chat or discuss your project with me as I am looking to become more active as a contributor to projects that interest me.</p>
</div>