<div layout:decorate="~{layouts/default}" layout:fragment="content">
    <h2>About Me</h2>

    <br/>

    <p>Howdy! My name is Aaron Gotreaux. I am a software engineer based in Texas. The bulk of my experience is within the e-clinical, financial and insurance sectors as a full stack Java developer.</p>
    <p>I enjoy wrestling with legacy systems, tinkering with unfamiliar stacks and writing clean solutions to puzzles.</p>
    <p>Please don't hesitate to contact me if you'd like to chat or discuss your project with me as I am looking to become more active as a contributor to projects that interest me.</p>

    <br/>

    <h2>Current Projects</h2>

    <br/>

    <ul>
        <li>Backfilling <b><a href="https://github.com/atgotreaux/advent-of-code">my solutions</a></b> for <b><a href="https://adventofcode.com/">Advent of Code</a></b>, an Advent calendar of programming puzzles.</li>
        <li>Redesigning <b><a href="https://github.com/atgotreaux/site">my personal website</a></b> @ <b><a href="https://gotreaux.com/">gotreaux.com</a></b>.</li>
        <li>Prototyping a webservice in secret that I hope to have launched sometime in 2025.</li>
    </ul>
</div>