<!DOCTYPE html>
<html lang="en" class="h-100">
    <head th:replace="~{fragments/header :: header}"></head>
    <body class="d-flex h-100 text-center text-white bg-dark">
        <div class ="home-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main class="px-3 mt-auto mb-auto">
                <h1 class="home-name">Aaron Gotreaux</h1>
                <p class="home-description lead">Software developer. Foodie. Productivity nerd. Fledgling fitness freak. Metalhead. Weeb.</p>
            </main>
        </div>
        <script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
    </body>
</html>